* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/****************************************************************/

.box{
    background-color: #006dfa;
    border: 1px solid white;
    color: white;
    padding: 20px 8px;
    text-align: center;
}

.box-nested{
    background-color: #01e165;
    border: 1px solid #006dfa;
    padding: 20px 30px;
}